{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>WikiTweet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static 'assets/ico/apple-touch-icon.png' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <style>
        body { padding-top: 50px; padding-bottom: 20px; }
    </style>
</head>
<body>
<!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<div class="container">
    {% block container %} {% endblock %}
</div>
<!-- /container -->
<hr>

<footer>
    <div class="container">
        <p class="text-center"><small>WikiTweet 2015, made with </small>♥</p>
    </div>
</footer>
{% block js %}
<script src="{% static 'assets/js/vendor/jquery-1.11.2.min.js' %}"></script>
{% endblock %}
</body>
</html>
