{% extends 'base.html' %}
{% load static %}

{% block container %}
    <h1>WikiTweet</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form" method="post">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputAmount">Search a Topic</label>
                            {% if form.query.errors %}
                                <span class="text-danger"> {{ form.query.errors.as_text }}</span>
                            {% endif %}
                            <div class="input-group {% if form.query.errors %}has-error{% endif %}">
                                {% csrf_token %}
                                <input type="text" class="form-control input-lg" id="id_query" name="query"
                                       placeholder="Topic">

                                <div class="input-group-addon btn">
                                    <button type="submit" id="search" class="btn btn-primary btn-lg btn-submit">Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input id="id_geo" name="geo" type="checkbox"> Limit result those near me.
                            </label>
                            <input id="id_latitude" name="latitude" type="hidden">
                            <input id="id_longitude" name="longitude" type="hidden">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'assets/js/main.min.js' %}"></script>
{% endblock %}