{% extends 'base.html' %}

{% block container %}
    <h1>WikiTweet
        <small> results for <strong><i>{{ query }}</i></strong></small>
    </h1>
    <a class="btn btn-xs btn-default" href="{% url 'home' %}">Back and search another topic</a>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Twitter</div>
                <ul class="list-group">
                    {% for item in twitter %}
                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <img src="{{ item.image }}" alt="{{ item.user }}"/>
                                </div>
                                <div class="media-body">
                                    <p class="media-heading h5">{{ item.user }}</p>
                                    {{ item.text|safe }}
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">No result found :(</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning">
                <!-- Default panel contents -->
                <div class="panel-heading">Wikipedia</div>
                <!-- List group -->
                <ul class="list-group">
                    {% for item in wikipedia %}
                        <li class="list-group-item">
                            <a class="btn btn-link btn-wikipedia" href="{{ item.url }}" target="_blank">{{ item.title }}</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item">No result found :(</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}