@import "bootstrap";

.input-group-addon.btn {
  padding: 0;
  border: none;
}

.btn {
  &.btn-submit {
    border-radius: 0 4px 4px 0;
  }

  &.btn-wikipedia {
    color: #8a6d3b;
  }
}

.glyphicon-load-animate {
  margin-left: 5px;
  animation:  spin .8s infinite linear;
  -webkit-animation: spin2 .8s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}